/** @format */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

:root {
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  gap: 30px;
  /* overflow-x: hidden; */
  transition: 0.4s ease-in-out;
}

main.active,
.logo.active {
  filter: blur(1px);
}

body {
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}

nav {
  padding: 30px 0;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

nav ul {
  list-style: none;
  position: fixed;
  top: 0;
  right: -1%;
  height: 100vh;
  width: 50vw;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
  padding-top: 100px;
  padding-left: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  transition: 0.4s ease-in-out;
  transform: scaleX(0);
  transform-origin: right;
  z-index: 5;
}

nav ul.active {
  transform: scaleX(1);
}

.hamburger {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: fixed;
  right: 5%;
  z-index: 6;
}

.hamburger.fixed {
  position: fixed;
  right: 5%;
}

.hamburger.absolute {
  position: absolute;
  right: 0;
}

.hamburger span {
  height: 4px;
  width: 50px;
  background-color: black;
  transition: 0.4s ease-in-out;
}

.bar1.active {
  transform: rotate(40deg);
  position: absolute;
  top: 0;
}
.bar2.active {
  opacity: 0;
}
.bar3.active {
  transform: rotate(-38deg);
  position: absolute;
  top: 0;
}

@media (min-width: 820px) {
  .hamburger {
    display: none;
  }

  nav ul {
    position: relative;
    transform: scaleX(1);
    flex-direction: row;
    padding: 0;
    right: unset;
    height: unset;
    width: 60%;
    font-weight: normal;
    gap: 0;
    justify-content: space-between;
    font-size: 1.1rem;
  }

  nav {
    padding: 40px 0;
  }
}

/* ============================== Section1 ======================  */

.section1 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.bg_image > img {
  width: 100%;
}

button {
  background-color: var(--soft-red);
  margin-top: 20px;
  color: white;
  padding: 16px 32px;
  border: none;
}
.bright {
  display: grid;
  gap: 10px;
}

.bright h1 {
  font-size: 2.5rem;
  font-weight: bolder;
}

.bright p {
  color: var(--grayish-blue);
  font-weight: bold;
}

/* ============================= Section2 =========================  */

.section2 {
  background-color: var(--very-dark-blue);
  color: white;
  padding: 10px 30px;
  margin-top: 30px;
}

.section2 h2 {
  color: var(--soft-orange);
  padding: 20px 0;
}

.section2 > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section2 div div {
  padding: 20px 0;
}
.section2 div div:not(:last-child) {
  border-bottom: 1px solid var(--grayish-blue);
  padding: 20px 0;
}

/* ============================= Section3 =========================  */

.section3 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.section3 img {
  height: 100%;
  width: 40%;
  max-width: 200px;
}

.section3 > div {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

.section3 div div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section3 h2 {
  color: var(--grayish-blue);
  font-size: 2.1rem;
}

.section3 h3 {
  color: var(--very-dark-blue);
  font-weight: bolder;
}

.section3 p {
  color: var(--grayish-blue);
}

/* ==================== Media Query =================  */

@media (min-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: 2.2fr 1fr;
    gap: 20px;
  }
  .section2 {
    margin-top: 0;
  }
  .section3 {
    display: flex;
    gap: 40px;
  }
  .bright {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .section3 {
    flex-direction: row;
  }
  .section3 div div {
    gap: 10px;
  }

  .bg_image > img {
    min-height: 300px;
    max-height: 300px;
  }
}
